     <nav class="bg-white p-4 shadow">
            <div class="flex justify-between items-center">
                <div class="text-xl font-semibold">Welcome ! {% if request.user.first_name %}{{request.user.first_name}} {% else %} {{request.user.username}} {% endif %}</div>
                <div class="flex items-center space-x-4">

                    <a href="{% url 'course_admin' %}" class="hover:text-gray-600">Courses</a>

                    <a href="#" id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-black text-md px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Test
                        <svg class="h-6 w-6 text-black"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                        </svg>
                    </a>
                    <!-- Dropdown menu -->
                    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                            <li>
                            <a href="{% url 'test_create' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Create New Test</a>
                          </li>
                          <li>
                            <a href="{% url 'tests' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View Tests</a>
                          </li>
                        </ul>
                    </div>

                    <a href="{% url 'admin_blog' %}" class="hover:text-gray-600">Blog</a>
                    <a href="#" class="hover:text-gray-600">Profile</a>
                    <a href="{% url 'signout' %}" class="hover:text-gray-600">Logout</a>
                </div>
            </div>
        </nav>
